@import '../../styles/utils/variables';

.game-detail-container {
  padding: 20px 40px;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  .game-detail-content {
    margin-top: 50px;
    max-width: 1300px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    .back-search {
      color: $primaryColor;
      font-size: 26px;
      font-weight: bold;

      display: flex;
      align-items: center;
      align-self: start;

      p {
        margin-left: 10px;
      }
    }

    .game-detail-image {
      width: 600px;
      height: calc(0.6 * 100vh);
      border-radius: 10px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .game-detail-info {
      max-width: 430px;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p,
      span {
        font-size: 22px;
      }

      .game-desc {
        margin-top: 10px;
        font-weight: 100;
      }

      .game-platform {
        margin: 20px 0;
        font-weight: bold;
      }

      .game-announcer {
        font-weight: 100;
      }

      .game-value {
        text-align: center;
        font-weight: 100;

        display: flex;
        flex-direction: column;

        span {
          font-size: 32px;
          font-weight: bold;
        }
      }

      a {
        padding: 25px 0;
        background-color: #34db54;
        border-radius: 6px;
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          margin-left: 10px;
          opacity: 0;
          transition: 0.4s;
        }

        &:hover svg {
          opacity: 1;
        }
      }
    }
  }
}
