@import './utils/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body,
input,
button,
select {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f5f5f5;

  a {
    text-decoration: none;
  }

  button {
    border: none;
    outline: none;
    background: none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    height: 60px;
    outline: none;
    border: 1px solid #cccc;
    border-radius: 6px;
    padding: 0 20px;
    font-size: 22px;
    font-weight: 100;
    cursor: pointer;

    background-image: url('../assets/chevron-down.svg');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 18px;

    &:focus {
      box-shadow: 0 0 4px $primaryColor;
    }
  }
}

.checkbox-container {
  margin-top: 20px;

  display: flex;
  align-items: center;

  input {
    appearance: none;
    -webkit-appearance: none;
    width: 26px;
    height: 26px;
    background-color: #cccc;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;

    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: '\f00c';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      color: white;
      opacity: 0;
      transition: 0.4s;
    }

    &:checked {
      background-color: $primaryColor;
    }

    &:checked::after {
      opacity: 1;
    }
  }

  label {
    margin-left: 10px;
    color: #989292;
    font-size: 18px;
    font-weight: 100;
  }
}

.input-container {
  margin-top: 20px;

  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 100;
  }

  input {
    padding: 5px 15px;
    height: 60px;
    border: 1px solid #cccc;
    border-radius: 6px;
    outline: none;
    font-size: 22px;
    font-weight: 100;

    &:focus {
      box-shadow: 0 0 4px $primaryColor;
    }
  }
}

.select-input-container {
  width: 100%;

  display: flex;
  justify-content: space-between;

  .input-container {
    &:first-child {
      margin-right: 10px;
      width: 30%;
    }
  }
}
