.error-message {
  background-color: #ef233c;
  border-radius: 10px;

  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.success-message {
  background-color: #06d6a0;
  border-radius: 10px;

  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.progress-bar {
  background-color: #fff;
}
