header {
  padding: 40px 0;
  margin: 0 auto;
  max-width: 1100px;

  display: flex;

  div {
    max-width: 160px;
  }

  img {
    margin-left: 20px;
    display: block;
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  header {
    max-width: 300px;

    justify-content: center;

    img {
      margin: 0;
    }
  }
}
