@import '../../styles/utils/variables';

.game-image-input-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    margin-bottom: 15px;
    font-size: 1.25rem;
    font-weight: 100;
  }

  .image-input {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    background-color: #999;
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;

    display: flex;
    align-items: center;
    justify-content: center;

    input {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      background-color: $primaryColor;
    }
  }
}
