@import '../../styles/utils/variables';

.search-container {
  padding: 0 20px 40px;
  width: 100%;
  min-height: 100vh;

  .main-search-content {
    margin: 50px auto 0 auto;
    max-width: 1100px;
    min-height: 100vh;

    display: flex;

    .search-options {
      flex: 1;

      input {
        padding: 5px 15px;
        width: 100%;
        height: 60px;
        border: 1px solid #cccc;
        border-radius: 6px;
        outline: none;
        font-size: 1.25rem;
        font-weight: 100;

        &:focus {
          box-shadow: 0 0 4px $primaryColor;
        }

        &::placeholder {
          color: #999999;
        }
      }

      .search-select-input {
        margin-top: 25px;

        display: flex;
        justify-content: space-between;

        select {
          &:first-child {
            width: 20%;
          }
          &:last-child {
            width: 70%;
          }
        }
      }

      .back-home {
        margin-top: 100px;
        color: $primaryColor;
        font-size: 1.25rem;
        font-weight: bold;

        display: flex;
        align-items: center;

        p {
          margin-left: 10px;
        }
      }

      button {
        margin-top: 25px;
        padding: 10px 0;
        width: 100%;
        background: $primaryColor;
        border-radius: 6px;
        color: #fff;
        font-size: 1.25rem;
        font-weight: bold;
        cursor: pointer;
        transition: 0.4s;
      }

      button:hover {
        background: #0f6bff;
      }
    }

    .search-results {
      flex: 2;

      display: flex;
      flex-direction: column;
      align-items: center;

      .game-result-card {
        margin-bottom: 20px;
        padding: 20px 40px;
        width: 80%;
        height: 240px;
        border-radius: 10px;
        background-color: #fff;
        cursor: pointer;
        transition: 0.4s;

        display: flex;

        &:hover {
          transform: scale(1.01);
        }

        p {
          color: #000;
        }

        .game-result-image {
          width: 200px;
          height: 200px;
          border-radius: 10px;
          overflow: hidden;

          align-self: center;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .game-result-info {
          padding-left: 40px;
          flex: 1;

          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .game-result-label {
            display: flex;

            p {
              font-size: 1.25rem;
              font-weight: bold;
            }

            span {
              flex: 1;
              color: #9999;
              font-weight: bold;
              font-size: 1.25rem;
              text-align: right;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .search-container {
    .main-search-content {
      max-width: 300px;

      flex-direction: column;

      .search-options {
        .search-select-input {
          flex-wrap: wrap;

          justify-content: start;

          select {
            &:first-child {
              width: 30%;
            }

            &:last-child {
              margin-top: 20px;
              width: 100%;
            }
          }
        }
      }

      .search-results {
        margin-top: 50px;

        .game-result-card {
          padding: 20px;
          width: 100%;

          flex-direction: column;

          .game-result-image {
            width: 100%;
          }

          .game-result-info {
            padding-left: 0;
            margin-top: 10px;

            .game-result-label + .game-result-label {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
